.contact-info {
  font-size: 16px;
  font-weight: 500;
  font-family: "Assistant", sans-serif !important;
  // width: 461px;
}

.card-info {
  width: auto;
  height: auto;
}

.description {
  margin-left: 2.5em;
}

.subtitle {
  color: #777777;
  font-size: 20px;
}

.card:not([class*="mat-elevation-z0"]) {
  box-shadow: none !important;
}
