<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<!-- <div fxLayout="row" fxLayoutWrap="wrap" class="background-dashboard">
  <h2>hola</h2>
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div> 
</div>-->

<!-- <div
  style="background: url(assets/unisimon/images/foto-dashboard.jpg) no-repeat"
> -->
<div>
  <img
    class="img-fluid"
    alt="homepage"
    style="width: 100%"
    src="assets/unisimon/images/foto-dashboard.jpg"
  />
</div>
