.image-container {
  background-image: url("../../../assets/unisimon/images/foto-dashboard.jpg") !important;
  background-size: cover;
  max-width: 100%; /* Maximum width */
  height: auto;
}

.image-container .content {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #444444; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
  padding: 10%;
}

.subtitle {
  width: 675px;
  font: normal normal medium 14px/20px Assistant;
  letter-spacing: 0.46px;
  opacity: 1;
}

.card-line {
  padding-top: 40%;
  padding-left: 10%;
  padding-right: 10%;
}

.description-text {
  margin-left: auto;
  margin-right: auto;
  width: 675px;
  height: 38px;
  font: normal normal medium 14px/20px Assistant;
  letter-spacing: 0.46px;
  color: #444444;
  opacity: 1;
}
