.background-dashboard {
  background-color: #fff;
  background-image: url("../../../assets/unisimon/images/foto-dashboard.jpg"),
    linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
