<div fxLayout="row" fxLayoutWrap="wrap" class="mx-5">
  <div class="mx-5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="card">
      <mat-card-content class="px-5">
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <div>
              <div class="d-flex">
                <a class="my-auto"
                  ><img src="assets/unisimon/icons/ico-back.svg"
                /></a>
                <h2 class="page-title text-green ml-4">
                  Convocatorias Disponibles
                </h2>
              </div>

              <div class="mx-5 my-3">
                <div class="row d-block">
                  <div class="pl-4">
                    <form>
                      <select #mySelect class="custom-select second-font">
                        <option value="recent" class="second-font">
                          Ver la más reciente
                        </option>
                        <option value="last" class="second-font">
                          Ver la más antigua
                        </option>
                      </select>
                    </form>
                  </div>
                  <div *ngFor="let item of itemList; let i = index">
                    <mat-card class="style-card second-font">
                      <mat-card-header>
                        <div class="row text d-flex d-inline mt-4">
                          <div class="mr-3 my-auto">
                            <p>{{ i + 1 }}.</p>
                          </div>
                          <p class="text-primary col ml-3">
                            {{ item.university }}
                          </p>
                          <p class="mx-3 col">{{ item.text }}</p>
                          <p class="mx-3 col">{{ item.closeDate }}</p>

                          <div class="col d-block mx-3 mb-4 text-end">
                            <mat-chip-list aria-label="action">
                              <mat-chip color="primary" selected
                                ><p
                                  class="mx-3 mt-3"
                                  routerLink="/dashboard/register"
                                >
                                  POSTULARSE
                                </p></mat-chip
                              >
                            </mat-chip-list>
                          </div>
                        </div>
                      </mat-card-header>

                      <mat-card-content class="pt-0 mx-5">
                        <div class="mx-1">
                          <p class="font-weight-bold">
                            {{ item.description }}
                          </p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
