<div class="login-register bg-white">
  <div class="login-register-box">
    <div class="bg-message">
      <!-- <span class="m-r-10">Username : admin</span> |
      <span class="m-l-10">Password : admin123</span> -->
      <span class="subtitle">
        Empoderamos ciudadanos globales en competencias interculturales
        nacionales, internacionales y de bilingüismo
      </span>
    </div>

    <div class="container">
      <div class="login-image">
        <img
          class="section-border"
          src="assets/unisimon/images/foto-portada.jpg"
          alt=""
        />
      </div>

      <div class="section-border2 rounded-right">
        <div class="login-form">
          <form id="loginform">
            <div class="text-center">
              <img
                alt="homepage"
                style="width: 200px"
                src="assets/unisimon/icons/LogoUNISIMON-01.svg"
              />
            </div>
            <div fxLayout="row wrap">
              <!-- col full-->
              <h4
                class="text-primary"
                style="margin-left: 14px; margin-bottom: 5%"
              >
                Iniciar Sesión
              </h4>
              <div
                fxFlex.gt-sm="100"
                fxFlex.gt-xs="100"
                fxFlex="100"
                class="text-center"
              >
                <mat-form-field appearance="outline" class="pb-0">
                  <input
                    matInput
                    placeholder="Nombre de Usuario"
                    required=""
                    #u1
                  />
                </mat-form-field>
              </div>
              <!-- col full-->
              <div
                fxFlex.gt-sm="100"
                fxFlex.gt-xs="100"
                fxFlex="100"
                class="text-center"
              >
                <mat-form-field appearance="outline" class="pb-0">
                  <input
                    matInput
                    type="password"
                    placeholder="Contraseña"
                    required=""
                    #p2
                  />
                </mat-form-field>
              </div>

              <div
                fxFlex.gt-sm="100"
                fxFlex.gt-xs="100"
                fxFlex="100"
                class="text-center"
              >
                <button
                  mat-raised-button
                  color="primary"
                  class="btn-block btn-lg m-t-20 m-b-20"
                  style="width: 90%"
                  (click)="check(u1.value, p2.value)"
                  type="button"
                >
                  ENTRAR
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="clear"></div>
    </div>
    <div class="mr-2" style="text-align: end; justify-content: center">
      <p class="mb-0 text-footer">
        Derechos reservados · UNISIMON 2020, B/quilla, CO
      </p>
      <p>
        <a href="" class="m-0 text-footer text-blue"
          >Ver Política de TRATAMIENTO DE DATOS PERSONALES</a
        >
      </p>
    </div>
  </div>
</div>
