.mat-card:not([class*="mat-elevation-z0"]) {
  box-shadow: none !important;
}

.header {
  display: flex !important;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 5%;
  // margin-left: auto;
  // margin-right: auto;
  width: 1050px;
  position: relative;
  @media (max-width: 990px) {
    display: none !important;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  @media (max-width: 425px) {
    padding: 30px;
  }
}

.image-container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.image-container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(255, 255, 255); /* Fallback color */
  background: rgba(255, 255, 255, 0.8); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.bg-message {
  text-align: start;
  width: 470px;
  height: 51px;
  text-align: left;
  font: italic normal normal 20px/25px Roboto Condensed;
  letter-spacing: 0px;
  color: #24732b;
  opacity: 1;
}

.login-image,
.login-form {
  float: left;
}

.login-form {
  width: 280px;
  background-color: #fff;
  padding: 5%;
  border-radius: 25px;
  padding-top: 20%;
}

.login-block {
  float: left;
  width: 100%;
}

.brand {
  max-width: 100%;
}

.banner-sec {
  background-image: url("../../assets/unisimon/images/foto-portada.jpg");
  background-color: #e0dfdf;
  background-size: cover;
  min-height: 500px;
  border-radius: 10px 0 0 10px;
  padding: 0;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
  @media (max-width: 990px) {
    display: none !important;
  }
}

.login-sec {
  padding: 50px 30px;
  border-radius: 0 10px 10px 0;
  position: relative;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}
