<div fxLayout="row" fxLayoutWrap="wrap" class="mx-5">
  <div class="mx-5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="card">
      <mat-card-content class="px-5">
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <div>
              <div class="d-flex">
                <a class="my-auto"
                  ><img src="assets/unisimon/icons/ico-back.svg"
                /></a>
                <h2 class="page-title text-green ml-4">
                  Solicitud Programa de Movilidad
                </h2>
              </div>

              <div class="m-5">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-lg-6">
                        <form [formGroup]="movilidad" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Tipo de movilidad
                          </h4>
                          <div class="form-group">
                            <select
                              #mySelect
                              formControlName="type"
                              class="form-select second-font"
                            >
                              <option value="entrante" class="second-font">
                                Entrante
                              </option>
                              <option value="saliente" class="second-font">
                                Saliente
                              </option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-6">
                        <form [formGroup]="economicStatus" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Población académica
                          </h4>
                          <div class="form-group">
                            <select
                              #mySelect
                              formControlName="economic_population"
                              class="form-select second-font"
                            >
                              <option
                                value=""
                                class="second-font"
                                selected
                                disabled
                                hidden
                              >
                                Elije uno de la lista
                              </option>
                              <option value="1" class="second-font">
                                Población 1
                              </option>
                              <option value="2" class="second-font">
                                Población 2
                              </option>
                            </select>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <form [formGroup]="academyData" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Datos académicos
                          </h4>
                          <div class="form-group">
                            <label class="form-control-label second-font"
                              >Universidad</label
                            >
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              type="text"
                              formControlName="university"
                            />
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-6">
                        <form [formGroup]="academyData" class="mb-3">
                          <div class="form-group mt-4">
                            <label class="form-control-label second-font"
                              >Idiomas</label
                            >
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              type="text"
                              formControlName="languages"
                            />
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <form [formGroup]="academyData" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Nivel de formación
                          </h4>
                          <div class="form-group">
                            <select
                              #mySelect
                              formControlName="education_level"
                              class="form-select second-font"
                            >
                              <option
                                value=""
                                class="second-font"
                                selected
                                disabled
                                hidden
                              >
                                Elije uno de la lista
                              </option>
                              <option value="1" class="second-font">
                                Opcion 1
                              </option>
                              <option value="2" class="second-font">
                                Opcion 2
                              </option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-6">
                        <form [formGroup]="academyData" class="mb-3">
                          <div class="form-group mt-4">
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              placeholder="Otro? Cuál?"
                              type="text"
                              formControlName="other"
                            />
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <form [formGroup]="studentData" class="mb-3">
                          <h4 class="text-gray form-control-title">Facultad</h4>
                          <div class="form-group">
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              type="text"
                              formControlName="studentData_name"
                            />
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-6">
                        <form [formGroup]="studentData" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Programa Académico
                          </h4>
                          <div class="form-group">
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              type="text"
                              formControlName="program_name"
                            />
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <form [formGroup]="studentData" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Código estudiante
                          </h4>
                          <div class="form-group">
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              type="text"
                              formControlName="code"
                            />
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-6">
                        <form [formGroup]="studentData" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Promedio acumulado
                          </h4>
                          <div class="form-group">
                            <input
                              id="input-name"
                              class="
                                form-control form-control-alternative
                                input
                              "
                              type="text"
                              formControlName="prom"
                            />
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <form [formGroup]="economicStatus" class="mb-3">
                          <h4 class="text-gray form-control-title">
                            Ubicación
                          </h4>
                          <div class="form-group">
                            <select
                              #mySelect
                              formControlName="location"
                              class="form-select second-font"
                            >
                              <option
                                value=""
                                class="second-font"
                                selected
                                disabled
                                hidden
                              >
                                País
                              </option>
                              <option value="1" class="second-font">
                                Opcion 1
                              </option>
                              <option value="2" class="second-font">
                                Opcion 2
                              </option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-6">
                        <form [formGroup]="economicStatus" class="mb-3">
                          <div class="form-group mt-4">
                            <select
                              #mySelect
                              formControlName="city"
                              class="form-select second-font"
                            >
                              <option
                                value=""
                                class="second-font"
                                selected
                                disabled
                                hidden
                              >
                                Ciudad/Sede
                              </option>
                              <option value="1" class="second-font">
                                Opcion 1
                              </option>
                              <option value="2" class="second-font">
                                Opcion 2
                              </option>
                            </select>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div>
                      <h3 class="text-green py-4">
                        Programa de movilidad a solicitar
                      </h3>
                      <div class="row">
                        <div class="col-lg-6 d-block">
                          <h4 class="text-gray form-control-title">
                            Carácter de la movilidad
                          </h4>
                          <form [formGroup]="programRequest" class="mb-3">
                            <div class="form-group">
                              <select
                                #mySelect
                                formControlName="nature_mobility"
                                class="form-select second-font"
                              >
                                <option
                                  value=""
                                  class="second-font"
                                  selected
                                  disabled
                                  hidden
                                >
                                  Elije uno de la lista
                                </option>
                                <option value="1" class="second-font">
                                  Nacional
                                </option>
                                <option value="2" class="second-font">
                                  Internacional
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <select
                                #mySelect
                                formControlName="name_mobility"
                                class="form-select second-font"
                              >
                                <option
                                  value=""
                                  class="second-font"
                                  selected
                                  disabled
                                  hidden
                                >
                                  Elije uno de la lista
                                </option>
                                <option value="1" class="second-font">
                                  Opcion 1
                                </option>
                                <option value="2" class="second-font">
                                  Opcion 2
                                </option>
                              </select>
                            </div>
                          </form>
                        </div>
                        <div class="col-lg-6 space">
                          <form [formGroup]="programRequest" class="mb-3">
                            <div class="form-group space my-auto">
                              <input
                                id="input-name"
                                class="
                                  form-control form-control-alternative
                                  input
                                "
                                placeholder="Otro? Cuál?"
                                type="text"
                                formControlName="others"
                              />
                            </div>
                          </form>
                        </div>
                      </div>

                      <div>
                        <h4 class="text-gray form-control-title">
                          Observaciones
                        </h4>
                        <form [formGroup]="programRequest" class="mb-3">
                          <div class="form-group">
                            <textarea
                              rows="3"
                              class="form-control form-control-alternative"
                              placeholder="Descripción ..."
                              formControlName="observations"
                            ></textarea>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div>
                      <h3 class="text-green py-4">
                        Financiación de la movilidad
                      </h3>
                      <div class="row">
                        <div class="col-lg-6 d-block">
                          <form [formGroup]="programRequest" class="mb-3">
                            <div class="form-group">
                              <select
                                #mySelect
                                formControlName="financing_plan"
                                class="form-select second-font"
                              >
                                <option
                                  value=""
                                  class="second-font"
                                  selected
                                  disabled
                                  hidden
                                >
                                  Elije uno de la lista
                                </option>
                                <option value="1" class="second-font">
                                  Opcion 1
                                </option>
                                <option value="2" class="second-font">
                                  Opcion 2
                                </option>
                              </select>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div>
                      <h3 class="text-green py-4">
                        Datos académicos institución destino
                      </h3>
                      <div class="row">
                        <div class="col-lg-6 d-block">
                          <form
                            [formGroup]="destinationInstitution"
                            class="mb-3"
                          >
                            <div class="form-group">
                              <div class="mb-3">
                                <label class="form-control-label second-font"
                                  >Nombre institución</label
                                >
                                <input
                                  id="input-name"
                                  class="
                                    form-control form-control-alternative
                                    input
                                  "
                                  type="text"
                                  formControlName="name"
                                />
                              </div>

                              <div class="mb-3">
                                <label class="form-control-label second-font"
                                  >Ciudad</label
                                >
                                <input
                                  id="input-name"
                                  class="
                                    form-control form-control-alternative
                                    input
                                  "
                                  type="text"
                                  formControlName="city"
                                />
                              </div>
                              <div class="mb-3">
                                <label class="form-control-label second-font"
                                  >Facultad</label
                                >
                                <input
                                  id="input-name"
                                  class="
                                    form-control form-control-alternative
                                    input
                                  "
                                  type="text"
                                  formControlName="faculty"
                                />
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col-lg-6 d-block">
                          <form
                            [formGroup]="destinationInstitution"
                            class="mb-3"
                          >
                            <div class="form-group">
                              <div class="mb-3">
                                <label class="form-control-label second-font"
                                  >Periodo de movilidad</label
                                >

                                <select
                                  #mySelect
                                  formControlName="period"
                                  class="form-select second-font"
                                >
                                  <option
                                    value=""
                                    class="second-font"
                                    selected
                                    disabled
                                    hidden
                                  >
                                    Elije uno de la lista
                                  </option>
                                  <option value="1" class="second-font">
                                    Opcion 1
                                  </option>
                                  <option value="2" class="second-font">
                                    Opcion 2
                                  </option>
                                </select>
                              </div>

                              <div class="mb-3">
                                <label class="form-control-label second-font"
                                  >Pais</label
                                >

                                <select
                                  #mySelect
                                  formControlName="country"
                                  class="form-select second-font"
                                >
                                  <option
                                    value=""
                                    class="second-font"
                                    selected
                                    disabled
                                    hidden
                                  >
                                    País
                                  </option>
                                  <option value="1" class="second-font">
                                    Opcion 1
                                  </option>
                                  <option value="2" class="second-font">
                                    Opcion 2
                                  </option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label class="form-control-label second-font"
                                  >Programa Académico</label
                                >
                                <input
                                  id="input-name"
                                  class="
                                    form-control form-control-alternative
                                    input
                                  "
                                  type="text"
                                  formControlName="program"
                                />
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="px-5 d-flex d-inline text-left">
                        <div class="pr-4">
                          <button
                            mat-raised-button
                            color="primary"
                            style="width: 180px; height: 51px"
                            class="btn-block btn-lg second-font"
                            type="button"
                          >
                            GUARDAR BORRADOR
                          </button>
                        </div>

                        <div>
                          <button
                            mat-raised-button
                            color="primary"
                            style="width: 150px; height: 51px"
                            class="btn-block btn-lg second-font"
                            type="button"
                          >
                            CONTINUAR
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="row">
                      <mat-card class="card-info">
                        <mat-card-header>
                          <mat-card-title>
                            <div class="d-block d-inline">
                              <a
                                ><img src="assets/unisimon/icons/ico-ayuda.svg"
                              /></a>
                              <h3 class="text-green my-2">
                                El proceso de postulación ha iniciado
                              </h3>
                            </div>
                          </mat-card-title>
                          <mat-card-subtitle
                            class="subtitle-card second-font font-medium"
                            >Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit ut viverra enim risus, ut varius ipsum
                            dignissim .</mat-card-subtitle
                          >
                        </mat-card-header>

                        <mat-card-content class="pt-0">
                          <p class="font-medium">Recomendaciones</p>
                          <mat-list>
                            <mat-list-item class="text-blue px-0">
                              <i
                                class="fa fa-circle mr-2 my-0"
                                style="font-size: 12px"
                              ></i>
                              Escanear documentos
                            </mat-list-item>
                            <mat-list-item class="text-blue px-0 my-0">
                              <i
                                class="fa fa-circle mr-2"
                                style="font-size: 12px"
                              ></i>
                              Comprimir archivos
                            </mat-list-item>
                            <!-- review -->
                            <mat-list-item class="text-blue px-0">
                              <i
                                class="fa fa-circle mr-2"
                                style="font-size: 12px"
                              ></i>
                              Pide ayuda
                            </mat-list-item>
                          </mat-list>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="row" style="padding-top: 70%">
                      <mat-card class="card-info2">
                        <mat-card-header>
                          <mat-card-title>
                            <div class="d-block d-inline">
                              <a
                                ><img src="assets/unisimon/icons/ico-ayuda.svg"
                              /></a>
                              <h3 class="text-green my-2">
                                El proceso de postulación ha iniciado
                              </h3>
                            </div>
                          </mat-card-title>
                          <mat-card-subtitle
                            class="subtitle-card second-font font-medium"
                            >Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit ut viverra enim risus, ut varius ipsum
                            dignissim .</mat-card-subtitle
                          >
                        </mat-card-header>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
