<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div class="d-flex d-inline second-font">
  <a class="text-primary" routerLink="/dashboard/contacts">Contactos</a>
  <a class="text-primary mx-5" routerLink="/dashboard/faq">Ayuda</a>
  <a class="m-r-5">
    <img src="assets/images/users/5.jpg" alt="user" class="profile-pic" />
  </a>
  <button mat-icon-button [matMenuTriggerFor]="profile">
    <img src="assets/unisimon/icons/ico-down-black.svg" />
  </button>

  <mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item routerLink="/login">Cerrar sesión</button>
  </mat-menu>
</div>
