<div id="main-container" [dir]="dir">
  <mat-toolbar class="topbar telative space-content">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <!-- Logo icon -->
        <b>
          <img
            src="assets/unisimon/icons/LogoUNISIMON-02.svg"
            alt="homepage"
            class="dark-logo"
          />
          <!-- Light Logo icon -->
          <img
            src="assets/unisimon/icons/LogoUNISIMON-02.svg"
            alt="homepage"
            class="light-logo"
          />
        </b>
      </a>
    </div>
    <span fxFlex></span>

    <p class="my-0 mx-2">
      <a>Contactos</a>
    </p>
    <p class="my-0 mx-2">
      <a>Ayuda</a>
    </p>
    <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
      <img src="assets/images/users/1.jpg" alt="user" class="profile-pic" />
    </button>
    <mat-menu #profile="matMenu" class="mymegamenu">
      <button mat-menu-item><mat-icon>settings</mat-icon> Settings</button>
      <button mat-menu-item><mat-icon>account_box</mat-icon> Profile</button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications
      </button>
      <button mat-menu-item><mat-icon>exit_to_app</mat-icon> Sign Out</button>
    </mat-menu>
  </mat-toolbar>

  <div class="page-wrapper" id="unisimon-content">
    <div class="container-fluid" id="unisimon-page">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer text-center"></footer>
  </div>
</div>
