<div fxLayout="row" fxLayoutWrap="wrap" class="mx-5">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="mx-5">
    <mat-card>
      <mat-card-content class="mat-elevation-z0 px-5">
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <div>
              <div class="d-flex">
                <a class="my-auto"
                  ><img src="assets/unisimon/icons/ico-back.svg"
                /></a>
                <h2 class="page-title text-green ml-4">
                  Autorización para el tratamiento de datos personales
                </h2>
              </div>

              <div class="px-5">
                <p class="long-text mt-4 second-font">
                  En cumplimiento de la ley 1581 del 2012 y sus decretos
                  complementarios y concordantes, al diligenciar el siguiente
                  formulario de inscripción en su calidad de titular de la
                  información, de manera libre, expresa, informada e inequívoca,
                  al dar click en aceptar, usted autoriza a la UNIVERSIDAD SIMÓN
                  BOLÍVAR y/o personas naturales o jurídicas a quienes la
                  universidad encargue para recolectar, almacenar, utilizar,
                  circular, suprimir y en general a usar sus datos personales
                  con la finalidad de:
                  <br /><br />
                  I)Promoción y prospección comercial a nivel institucional y de
                  los programas ofertados, <br /><br />
                  II)Informarle sobre otros eventos académicos y culturales
                  organizados por la Institución, relacionados con nuestras
                  funciones, <br /><br />
                  III)Informarle sobre los servicios que prestamos, las
                  publicaciones que elaboramos, <br /><br />IV)Solicitarle que
                  evalúe la calidad de nuestros servicios. <br /><br />
                  V) Contactarlo a través de medios telefónicos, electrónicos,
                  redes sociales, mensajes de datos, para el desarrollo de las
                  finalidades anunciadas,
                  <br /><br />VI) Registro de asistencia, verificación y
                  grabación en aulas virtuales, <br /><br />VII) Difusión de
                  eventos académicos y culturales (teatro) mediante la toma y
                  difusión de registros fotográficos y de videos,<br /><br />
                  VIII) Demás finalidades estipuladas en nuestra
                  <a href="">Política de Tratamiento de Datos Personales</a>
                  contemplada en el Artículo 4 numeral 2. Esta autorización
                  tendrá validez durante el tiempo que se mantenga activa su
                  relación con la Universidad. <br /><br />Usted como titular de
                  la información, tiene derecho a conocer, actualizar y
                  rectificar sus datos personales; solicitar prueba de la
                  autorización otorgada para su tratamiento, ser informado sobre
                  el uso que se ha dado a los mismos, revocar la autorización
                  y/o solicitar la supresión de sus datos en los casos en que
                  sea procedente y acceder en forma gratuita a los mismos. La
                  información suministrada por el titular de la información y/o
                  su representante legal en caso de que el titular sea menor de
                  edad se suprimirá cuando ya no sean efectivos para alcanzar la
                  finalidad para la cual fueron obtenidos. <br /><br />Para todo
                  lo anterior, puede dirigirse al correo electrónico
                  <a href="">habeasdata@unisimonbolivar.edu.co</a> y/o a la
                  UNIVERSIDAD SIMÓN BOLÍVAR identificada con NIT. 890.104.633-9
                  ubicada en la ciudad de Barranquilla en la Calle 59 #59- 81,
                  teléfono 3444333 y en la ciudad de Cúcuta en la Av. 3 # 13-34
                  Barrio La Playa, teléfono 5827070.
                </p>
              </div>
              <section class="example-section mx-5">
                <mat-checkbox class="example-margin long-text second-font"
                  >Entiendo y acepto el registro y uso de mis datos personales,
                  como se estipula anteriormente.</mat-checkbox
                >
              </section>
              <div class="text-left mx-5">
                <button
                  mat-raised-button
                  color="primary"
                  style="width: 150px"
                  class="btn-block btn-lg m-t-20 m-b-20 second-font"
                  type="button"
                >
                  CONTINUAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
